header{
    background-color: #c79fef;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 1px 1px 6px black;
    margin: 1px 3px;
    border-radius: 5px;

}
#btn-product{
    box-shadow: 1px 1px 6px black;
    margin: -3px 25px;
    border-radius: 5px;
    background-color:#ded5fb;
}

.cart{
    border-radius: 13px;
    margin: 0px -60px 0px 100px;

}
#orders{
    border-radius: 13px;
    margin: 0px -40px 0px 0px;

}
#password{
    border-radius: 13px;
    margin: 0px -20px 0px 0px;
}
#exit{
    margin: 0px 0px 0px 0px;
    border-radius: 13px;

}
#btn-product:hover {
    color: #5469d4;
}

.columns {
    display: flex;
    margin: 10px 10px;
    padding: 15px;
    border-radius: 5px;
    background-color: #f5f5f8;

}

.column {
    flex: 1;
    border-radius: 5px;
    background-color: #ded5fb;
    margin: 0px 10px 0px 10px;
    padding-left: inherit;

}

.main-column {
    flex: 4;
    border-radius: 5px;
    background-color: #ded5fb;
    margin: 0px 10px 0px 10px;

}
#product-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px 10px;
    padding: 5px  0px 5px 100px;
    border-radius: 5px;
    box-shadow: 1px 1px 6px black;
    /*align-self: center;*/

}
#order_row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px 10px;
    padding: 5px  0px 5px 100px;
    border-radius: 5px;
    box-shadow: 1px 1px 6px black;
    /*align-self: center;*/
}
.title{
    display: grid;
    grid-template-columns: none;

    width: 300px;
}
a {
    text-decoration: none;
}
#addCart{
    box-shadow: 1px 1px 6px black;
    margin: 5px 0px;
    padding: 3px;
    border-radius: 5px;
    background-color:#a68ef5;
}
#addCart:hover{
    color: #5469d4;
}
#searchs{
    box-shadow: 1px 1px 6px black;
    margin: 5px 0px;
    padding: 5px;
    border-radius: 5px;
    color: black;
    background-color:#a68ef5;
}
