header{
    background-color: #c79fef;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 1px 1px 6px black;
    margin: 0px 2px;
    border-radius: 5px;

}
#btn-first{
    box-shadow: 1px 1px 6px black;
    margin: -3px 25px;
    border-radius: 5px;
    background-color:#ded5fb;
}
#btn-first:hover {
    color: #5469d4;
}
#exit {
    margin: 0px -500px 0px 720px;
    border-radius: 13px;
}
.cont{
    /*display: flex; !*FlexBox*!*/
    /*align-items: center; !* выравнивает по вертикали*!*/
    /*justify-content: center; !*выравнивает по горизонтали*!*/

    padding: 50px;
    box-shadow: 1px 1px 6px black;
    margin: 100px 0px 0px 800px;
    border-radius: 5px;
    width: 300px;
}
/*.flex-flex {*/
/*    display: flex;*/
/*}*/
/*.align-center {*/
/*    align-items: center;*/
/*}*/
/*.center-center {*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/


