<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Смена пароля</title>
  <script src="/examples/libs/jquery/jquery-3.6.0.min.js"></script>
  <script src="/examples/libs/bootstrap-4/js/bootstrap.bundle.js"></script>
  <link th:href="@{/assets/dist/css/bootstrap.min.css}" rel="stylesheet">

  <link th:href="@{/css/signin.css}" rel="stylesheet">
</head>
<body class="text-center">

<main class="form-signin">
  <form method="post" th:action="@{/user/password/user}" th:object="${person}">

    <img class="mb-4" th:src="@{/assets/logo.png}" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Смена пароля</h1>

    <label for="login">Ваш логин: </label><br>
    <input type="text" th:field="*{login}" th:value="${person.setLogin(login)}" name="username" id="login" readonly="readonly">
    <br>
    <label for="password">Введите <u>новый</u> пароль: </label><br>
    <input type="password" th:field="*{password}" placeholder="Новый пароль" name="password" id="password">
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    <br><br>

    <button id="change" class="w-100 btn btn-lg btn-primary" type="submit" data-create="message">Сменить пароль</button>
  </form>
  <br><br>



  <div class="d-grid gap-2 col-12 mx-auto">
    <a href="/index" class="btn btn-secondary" type="button">Вернуться на главную страницу</a>
  </div>
</body>
</html>